###############################################################################
###################################  HAL  #####################################
###############################################################################

ifeq ($(CONFIG_IMX_ANDROID_PLATFORM), y)
	EXTRA_CFLAGS += -DANDROID_PLATFORM
endif

ifeq ($(CONFIG_USB), y)
	USE_DEVICE = "USB"
endif

ifeq ($(CONFIG_SDIO), y)
	USE_DEVICE = "SDIO"
#incase of SDIO we are not using workqueues due to some scheduling delays 
	#EXTRA_CFLAGS += -DUSE_INTCONTEXT
endif

ifeq ($(CONFIG_CHW_20_40), y)
	EXTRA_CFLAGS += -DENABLE_40_MHZ
endif

ifeq ($(ONEBOX_DEBUG_ENABLE), y)
	EXTRA_CFLAGS += -DONEBOX_DEBUG_ENABLE
endif
#ifeq ($(BBP_PROGRAMMING_TA),y)
	EXTRA_CFLAGS += -DPROGRAMMING_BBP_TA
#endif
#ifeq ($(SCAN_PROGRAMMING_TA),y)
	EXTRA_CFLAGS += -DPROGRAMMING_SCAN_TA
#endif
ifeq ($(AMPDU_AGGR_SUPPORT),y)
	EXTRA_CFLAGS += -DAMPDU_AGGR_SUPPORT
endif
ifeq ($(CHIP_ENABLED),y)
	EXTRA_CFLAGS += -DCHIP_ENABLED
endif
ifeq ($(AUTO_RATE_SUPPORT),y)
	EXTRA_CFLAGS += -DAUTO_RATE_SUPPORT
endif
ifeq ($(EEPROM_READ_EN),y)
	EXTRA_CFLAGS += -DEEPROM_READ_EN
endif
ifeq ($(RSI_SDIO_MULTI_BLOCK_SUPPORT),y)
	EXTRA_CFLAGS += -DRSI_SDIO_MULTI_BLOCK_SUPPORT
endif
ifeq ($(SECURITY_SUPPORT),y)
	EXTRA_CFLAGS += -DSECURITY_SUPPORT
endif
ifeq ($(ENABLE_P2P_SUPPORT),y)
	EXTRA_CFLAGS += -DENABLE_P2P_SUPPORT
endif
ifeq ($(ENABLE_PER_MODE),y)
	EXTRA_CFLAGS += -DENABLE_PER_MODE
endif

ifeq ($(ENABLE_DEEP_SLEEP),y)
# Disable Deep sleep option in case if USB interface is selected
ifeq ($(USE_DEVICE),"SDIO")
#	EXTRA_CFLAGS += -DENABLE_DEEP_SLEEP
endif
endif

ifeq ($(CHIP_ENABLED),y)
	EXTRA_CFLAGS += -DCHIP_ENABLED
endif

#EXTRA_CFLAGS += -DWIFI_ALLIANCE

ifeq ($(ONEBOX_CONFIG_NL80211),y)
#	EXTRA_CFLAGS += -DONEBOX_CONFIG_CFG80211
endif

ifeq ($(BYPASS_TX_DATA_PATH),y)
	EXTRA_CFLAGS += -DBYPASS_TX_DATA_PATH
endif

ifeq ($(BYPASS_RX_DATA_PATH),y)
	EXTRA_CFLAGS += -DBYPASS_RX_DATA_PATH
endif
###############################################################################
##############################   NET80211  ####################################
###############################################################################

ifeq ($(IEEE80211_AMPDU_AGE),y)
	EXTRA_CFLAGS += -DIEEE80211_AMPDU_AGE
endif

########################## Region ####################################

ifeq ($(REGION_US), y)
	EXTRA_CFLAGS += -DREGION_US
endif
ifeq ($(REGION_EU), y)
	EXTRA_CFLAGS += -DREGION_EU
endif
ifeq ($(REGION_JAPAN), y)
	EXTRA_CFLAGS += -DREGION_JAPAN
endif
ifeq ($(REGION_OTHERS), y)
	EXTRA_CFLAGS += -DREGION_US
endif

############################ Bluetooth ##################################
#
ifeq ($(USE_GENL_BT_STACK), y)
	EXTRA_CFLAGS += -DUSE_GENL_BT_STACK
endif

ifeq ($(USE_BLUEZ_BT_STACK), y)
	EXTRA_CFLAGS += -DUSE_BLUEZ_BT_STACK
endif


